(ROOT (S (S (S (S (NP (NP (NP (NP (NNS Investors)(, ,))(NP (NN money)(NNS managers)))(CC and))(NP (JJ corporate)(NNS officials)))(VP (VP (VBD had)(PP (IN until)(NN today)))(S (TO to)(VP (VB comment)(PP (IN on)(NP (DT the)(NNS proposals)))))))(, ,))(CC and))(S (NP (DT the)(NN issue))(VP (VBZ has)(VP (VBN produced)(NP (NP (JJR more)(NN mail))(PP (IN than)(NP (NP (ADJP (RB almost)(DT any))(NP (JJ other)(NN issue)))(PP (IN in)(NN memory)))))))))(S (, ,)(S (NP (NNP Mr.)(NNP Lane))(S (VBD said)(. .)))))
