(ROOT (PP (IN In)(NP (NP (NP (DT an)(NP (NNP Oct.)(NP (CD 19)(NN review))))(PP (IN of)(NP (`` ``)(NP (NP (NP (DT The)(NN Misanthrope))('' ''))(PP (IN at)(NP (NP (NNP Chicago)(POS 's))(NP (NNP Goodman)(NNP Theatre))))))))(PRN (PRN (PRN (PRN (PRN (PRN (-LRB- -LRB-)(`` ``))(S (NP (VBN Revitalized)(NNS Classics))(VP (VP (VBP Take)(NP (DT the)(NN Stage)))(PP (IN in)(NP (NNP Windy)(NNP City))))))(, ,))('' ''))(NP (NP (NN Leisure)(CC &))(NNS Arts)))(-RRB- -RRB-))))(S (, ,)(S (NP (NP (NP (NP (NP (DT the)(NN role))(PP (IN of)(NNP Celimene)))(, ,))(VP (VBN played)(PP (IN by)(NP (NNP Kim)(NNP Cattrall)))))(, ,))(S (VP (VBD was)(VP (RB mistakenly)(VP (VBN attributed)(PP (TO to)(NP (NNP Christina)(NNP Haag))))))(. .)))))
(ROOT (NP (NNP Ms.)(NNP Haag))(S (VP (VBZ plays)(NNP Elianti))(. .)))
(ROOT (NP (NNP Rolls-Royce)(NP (NNP Motor)(NP (NNPS Cars)(NNP Inc.))))(S (VP (VBD said)(SBAR (PRP it)(VP (VBZ expects)(S (NP (PRP$ its)(NP (NNP U.S.)(NNS sales)))(VP (TO to)(VP (VP (VP (VB remain)(JJ steady))(PP (IN at)(NP (QP (IN about)(CD 1,200))(NNS cars))))(PP (IN in)(CD 1990))))))))(. .)))
(ROOT (NP (DT The)(NP (NN luxury)(NP (NN auto)(NN maker))))(S (NP (JJ last)(NN year))(VP (VP (VBD sold)(NP (CD 1,214)(NNS cars)))(PP (IN in)(NP (DT the)(NNP U.S.))))))
(ROOT (NP (NP (NP (NP (NNP Howard)(NNP Mosher))(, ,))(NP (NP (NN president)(CC and))(NP (JJ chief)(NP (NN executive)(NN officer)))))(, ,))(S (VP (VBD said)(SBAR (PRP he)(VP (VBZ anticipates)(NP (NP (NN growth)(PP (IN for)(NP (DT the)(NP (NN luxury)(NP (NN auto)(NN maker))))))(PP (PP (IN in)(NP (NP (NNP Britain)(CC and))(NNP Europe)))(PP (, ,)(PP (CC and)(PP (IN in)(NP (ADJP (JJ Far)(JJ Eastern))(NNS markets))))))))))(. .)))
(ROOT (NP (NNP BELL)(NP (NNP INDUSTRIES)(NNP Inc.)))(S (VP (VP (VP (VBD increased)(NP (PRP$ its)(NN quarterly)))(PP (TO to)(NP (CD 10)(NNS cents))))(PP (IN from)(NP (NP (CD seven)(NNS cents))(NP (DT a)(NN share)))))(. .)))
(ROOT (NP (DT The)(NP (JJ new)(NN rate)))(S (VP (MD will)(VP (VB be)(ADJP (JJ payable)(NP (NNP Feb.)(CD 15)))))(. .)))
(ROOT (NP (DT A)(NP (NN record)(NN date)))(S (VP (VP (VBZ has)(RB n't))(VP (VBN been)(VBN set)))(. .)))
(ROOT (NP (NP (NP (NNP Bell)(, ,))(VP (VBN based)(PP (IN in)(NP (NNP Los)(NNP Angeles)))))(, ,))(S (VP (VP (VP (VBZ makes)(CC and))(VBZ distributes))(NP (UCP (JJ electronic)(UCP (, ,)(UCP (NN computer)(UCP (CC and)(NN building)))))(NNS products)))(. .)))
(ROOT (NNS Investors)(S (VP (VBP are)(VP (VP (VBG appealing)(PP (TO to)(NP (DT the)(NP (NNPS Securities)(NP (CC and)(NP (NNP Exchange)(NNP Commission)))))))(S (RB not)(VP (TO to)(VP (VB limit)(NP (NP (PRP$ their)(NN access))(PP (TO to)(NP (NN information)(PP (IN about)(NP (NP (NN stock)(NP (NP (NNS purchases)(CC and))(NNS sales)))(PP (IN by)(NP (JJ corporate)(NNS insiders)))))))))))))(. .)))
(ROOT (S (NP (DT A)(NP (NNP SEC)(NP (NN proposal)(S (TO to)(VP (VB ease)(NP (NP (NN reporting)(NNS requirements))(PP (IN for)(NP (DT some)(NP (NN company)(NNS executives))))))))))(VP (MD would)(VP (VB undermine)(NP (NP (NP (DT the)(NN usefulness))(PP (IN of)(NP (NN information)(PP (IN on)(NP (NN insider)(NNS trades))))))(PP (IN as)(NP (DT a)(NP (JJ stock-picking)(NN tool))))))))(S (, ,)(S (NP (NP (NP (JJ individual)(NNS investors))(CC and))(NP (JJ professional)(NP (NN money)(NNS managers))))(S (VBP contend)(. .)))))
(ROOT (PRP They)(S (VP (VP (VBP make)(NP (DT the)(NN argument)))(PP (IN in)(NP (NP (NNS letters)(PP (TO to)(NP (DT the)(NN agency))))(PP (IN about)(NP (NP (NP (NN rule)(NNS changes))(VP (VBD proposed)(NP (DT this)(NP (JJ past)(NN summer)))))(SBAR (SBAR (IN that)(, ,))(S (PP (IN among)(NP (JJ other)(NNS things)))(S (, ,)(VP (MD would)(VP (VP (VB exempt)(NP (JJ many)(NP (JJ middle-management)(NNS executives))))(PP (IN from)(S (VBG reporting)(NP (NNS trades)(PP (IN in)(NP (NP (PRP$ their)(NP (JJ own)(NP (NNS companies)(POS '))))(NNS shares))))))))))))))))(. .)))
(ROOT (NP (DT The)(NP (VBN proposed)(NNS changes)))(S (RB also)(S (VP (MD would)(VP (VB allow)(S (NNS executives)(VP (TO to)(VP (VP (VB report)(NP (NNS exercises)(PP (IN of)(NNS options))))(ADVP (ADVP (RBR later)(CC and))(ADVP (RBR less)(RB often))))))))(. .))))
(ROOT (NP (JJ Many)(PP (IN of)(NP (DT the)(NNS letters))))(S (VP (VBP maintain)(SBAR (IN that)(S (S (S (S (S (S (NP (NN investor)(NN confidence))(VP (VBZ has)(VP (VBN been)(VP (RB so)(VP (VBN shaken)(PP (IN by)(NP (DT the)(NP (CD 1987)(NP (NN stock)(NP (NN market)(NN crash)))))))))))(: --))(CC and))(S (NP (DT the)(NNS markets))(S (RB already)(VP (RB so)(VP (VBN stacked)(PP (IN against)(NP (DT the)(NP (JJ little)(NN guy)))))))))(: --))(SBAR (IN that)(S (NP (NP (DT any)(NN decrease))(PP (IN in)(NP (NN information)(PP (IN on)(NP (NN insider-trading)(NNS patterns))))))(VP (MD might)(VP (VB prompt)(S (NNS individuals)(VP (TO to)(VP (VP (VB get)(ADVP (RB out)(PP (IN of)(NNS stocks))))(RB altogether)))))))))))(. .)))
(ROOT (`` ``)(SINV (S (NP (DT The)(NNP SEC))(VP (VP (VBZ has)(RB historically))(VP (VP (VBN paid)(NN obeisance))(PP (TO to)(NP (NP (DT the)(NN ideal))(PP (IN of)(NP (DT a)(NP (JJ level)(NP (NN playing)(NN field))))))))))(SINV (, ,)(SINV ('' '')(SINV (SINV (SINV (VBD wrote)(NP (NP (NNP Clyde)(NP (NNP S.)(NNP McGregor)))(PP (IN of)(NP (NP (NP (NNP Winnetka)(, ,))(NNP Ill.))(, ,)))))(PP (IN in)(NP (CD one)(PP (IN of)(NP (NP (DT the)(NP (CD 92)(NNS letters)))(SBAR (NP (DT the)(NN agency))(VP (VBZ has)(VP (VBN received)(SBAR (IN since)(S (NP (DT the)(NNS changes))(VP (VBD were)(VP (VBN proposed)(NP (NNP Aug.)(CD 17))))))))))))))(. .))))))
(ROOT (`` ``)(S (RB Apparently)(S (NP (DT the)(NN commission))(S (S (VP (VP (VP (VBD did)(RB not))(RB really))(VP (VB believe)(PP (IN in)(NP (DT this)(NN ideal)))))(. .))('' '')))))
(ROOT (RB Currently)(S (, ,)(S (NP (DT the)(NNS rules))(S (VP (VBP force)(S (NP (NP (NP (NP (NNS executives)(, ,))(NNS directors))(CC and))(NP (JJ other)(NP (JJ corporate)(NNS insiders))))(VP (TO to)(VP (VP (VB report)(NP (NP (NP (NNS purchases)(CC and))(NNS sales))(PP (IN of)(NP (NP (PRP$ their)(NP (NNS companies)(POS ')))(NNS shares)))))(PP (IN within)(NP (NP (QP (IN about)(DT a))(NN month))(PP (IN after)(NP (DT the)(NN transaction)))))))))(. .)))))
(ROOT (CC But)(S (NP (NP (QP (IN about)(CD 25))(NN %))(PP (IN of)(NP (DT the)(NNS insiders))))(S (, ,)(S (PP (VBG according)(PP (TO to)(NP (NNP SEC)(NNS figures))))(S (, ,)(S (VP (VP (VBP file)(NP (PRP$ their)(NNS reports)))(RB late))(. .)))))))
(ROOT (S (NP (DT The)(NNS changes))(VP (VBD were)(VP (VBN proposed)(PP (IN in)(NP (DT an)(NP (NN effort)(S (TO to)(VP (VP (VP (VB streamline)(NP (JJ federal)(NN bureaucracy)))(CC and))(VP (VB boost)(NP (NN compliance)(PP (IN by)(NP (NP (NP (DT the)(NNS executives))(`` ``))(SBAR (WP who)(S (VP (VBP are)(RB really))(VP (VBG calling)(NP (DT the)(NNS shots)))))))))))))))))(SINV (, ,)(SINV ('' '')(SINV (SINV (VBD said)(NP (NP (NP (NNP Brian)(NNP Lane))(, ,))(NP (NP (JJ special)(NN counsel))(PP (IN at)(NP (NP (NP (NP (NP (DT the)(NP (NNP SEC)(POS 's)))(NN office))(PP (IN of)(NP (NN disclosure)(NN policy))))(, ,))(SBAR (WDT which)(S (VBD proposed)(NP (DT the)(NNS changes)))))))))(. .)))))
(ROOT (S (S (S (S (NP (NP (NP (NP (NNS Investors)(, ,))(NP (NN money)(NNS managers)))(CC and))(NP (JJ corporate)(NNS officials)))(VP (VP (VBD had)(PP (IN until)(NN today)))(S (TO to)(VP (VB comment)(PP (IN on)(NP (DT the)(NNS proposals)))))))(, ,))(CC and))(S (NP (DT the)(NN issue))(VP (VBZ has)(VP (VBN produced)(NP (NP (JJR more)(NN mail))(PP (IN than)(NP (NP (ADJP (RB almost)(DT any))(NP (JJ other)(NN issue)))(PP (IN in)(NN memory)))))))))(S (, ,)(S (NP (NNP Mr.)(NNP Lane))(S (VBD said)(. .)))))
(ROOT (PP (IN In)(NP (NP (NP (DT an)(NP (NNP Oct.)(NP (CD 19)(NN review))))(PP (IN of)(NP (`` ``)(NP (NP (NP (DT The)(NN Misanthrope))('' ''))(PP (IN at)(NP (NP (NNP Chicago)(POS 's))(NP (NNP Goodman)(NNP Theatre))))))))(PRN (PRN (PRN (PRN (PRN (PRN (-LRB- -LRB-)(`` ``))(S (NP (VBN Revitalized)(NNS Classics))(VP (VP (VBP Take)(NP (DT the)(NN Stage)))(PP (IN in)(NP (NNP Windy)(NNP City))))))(, ,))('' ''))(NP (NP (NN Leisure)(CC &))(NNS Arts)))(-RRB- -RRB-))))(S (, ,)(S (NP (NP (NP (NP (NP (DT the)(NN role))(PP (IN of)(NNP Celimene)))(, ,))(VP (VBN played)(PP (IN by)(NP (NNP Kim)(NNP Cattrall)))))(, ,))(S (VP (VBD was)(VP (RB mistakenly)(VP (VBN attributed)(PP (TO to)(NP (NNP Christina)(NNP Haag))))))(. .)))))
(ROOT (NP (NNP Ms.)(NNP Haag))(S (VP (VBZ plays)(NNP Elianti))(. .)))
(ROOT (NP (NNP Rolls-Royce)(NP (NNP Motor)(NP (NNPS Cars)(NNP Inc.))))(S (VP (VBD said)(SBAR (PRP it)(VP (VBZ expects)(S (NP (PRP$ its)(NP (NNP U.S.)(NNS sales)))(VP (TO to)(VP (VP (VP (VB remain)(JJ steady))(PP (IN at)(NP (QP (IN about)(CD 1,200))(NNS cars))))(PP (IN in)(CD 1990))))))))(. .)))
(ROOT (NP (DT The)(NP (NN luxury)(NP (NN auto)(NN maker))))(S (NP (JJ last)(NN year))(VP (VP (VBD sold)(NP (CD 1,214)(NNS cars)))(PP (IN in)(NP (DT the)(NNP U.S.))))))
(ROOT (NP (NP (NP (NP (NNP Howard)(NNP Mosher))(, ,))(NP (NP (NN president)(CC and))(NP (JJ chief)(NP (NN executive)(NN officer)))))(, ,))(S (VP (VBD said)(SBAR (PRP he)(VP (VBZ anticipates)(NP (NP (NN growth)(PP (IN for)(NP (DT the)(NP (NN luxury)(NP (NN auto)(NN maker))))))(PP (PP (IN in)(NP (NP (NNP Britain)(CC and))(NNP Europe)))(PP (, ,)(PP (CC and)(PP (IN in)(NP (ADJP (JJ Far)(JJ Eastern))(NNS markets))))))))))(. .)))
(ROOT (NP (NNP BELL)(NP (NNP INDUSTRIES)(NNP Inc.)))(S (VP (VP (VP (VBD increased)(NP (PRP$ its)(NN quarterly)))(PP (TO to)(NP (CD 10)(NNS cents))))(PP (IN from)(NP (NP (CD seven)(NNS cents))(NP (DT a)(NN share)))))(. .)))
(ROOT (NP (DT The)(NP (JJ new)(NN rate)))(S (VP (MD will)(VP (VB be)(ADJP (JJ payable)(NP (NNP Feb.)(CD 15)))))(. .)))
(ROOT (NP (DT A)(NP (NN record)(NN date)))(S (VP (VP (VBZ has)(RB n't))(VP (VBN been)(VBN set)))(. .)))
(ROOT (NP (NP (NP (NNP Bell)(, ,))(VP (VBN based)(PP (IN in)(NP (NNP Los)(NNP Angeles)))))(, ,))(S (VP (VP (VP (VBZ makes)(CC and))(VBZ distributes))(NP (UCP (JJ electronic)(UCP (, ,)(UCP (NN computer)(UCP (CC and)(NN building)))))(NNS products)))(. .)))
(ROOT (NNS Investors)(S (VP (VBP are)(VP (VP (VBG appealing)(PP (TO to)(NP (DT the)(NP (NNPS Securities)(NP (CC and)(NP (NNP Exchange)(NNP Commission)))))))(S (RB not)(VP (TO to)(VP (VB limit)(NP (NP (PRP$ their)(NN access))(PP (TO to)(NP (NN information)(PP (IN about)(NP (NP (NN stock)(NP (NP (NNS purchases)(CC and))(NNS sales)))(PP (IN by)(NP (JJ corporate)(NNS insiders)))))))))))))(. .)))
(ROOT (S (NP (DT A)(NP (NNP SEC)(NP (NN proposal)(S (TO to)(VP (VB ease)(NP (NP (NN reporting)(NNS requirements))(PP (IN for)(NP (DT some)(NP (NN company)(NNS executives))))))))))(VP (MD would)(VP (VB undermine)(NP (NP (NP (DT the)(NN usefulness))(PP (IN of)(NP (NN information)(PP (IN on)(NP (NN insider)(NNS trades))))))(PP (IN as)(NP (DT a)(NP (JJ stock-picking)(NN tool))))))))(S (, ,)(S (NP (NP (NP (JJ individual)(NNS investors))(CC and))(NP (JJ professional)(NP (NN money)(NNS managers))))(S (VBP contend)(. .)))))
(ROOT (PRP They)(S (VP (VP (VBP make)(NP (DT the)(NN argument)))(PP (IN in)(NP (NP (NNS letters)(PP (TO to)(NP (DT the)(NN agency))))(PP (IN about)(NP (NP (NP (NN rule)(NNS changes))(VP (VBD proposed)(NP (DT this)(NP (JJ past)(NN summer)))))(SBAR (SBAR (IN that)(, ,))(S (PP (IN among)(NP (JJ other)(NNS things)))(S (, ,)(VP (MD would)(VP (VP (VB exempt)(NP (JJ many)(NP (JJ middle-management)(NNS executives))))(PP (IN from)(S (VBG reporting)(NP (NNS trades)(PP (IN in)(NP (NP (PRP$ their)(NP (JJ own)(NP (NNS companies)(POS '))))(NNS shares))))))))))))))))(. .)))
(ROOT (NP (DT The)(NP (VBN proposed)(NNS changes)))(S (RB also)(S (VP (MD would)(VP (VB allow)(S (NNS executives)(VP (TO to)(VP (VP (VB report)(NP (NNS exercises)(PP (IN of)(NNS options))))(ADVP (ADVP (RBR later)(CC and))(ADVP (RBR less)(RB often))))))))(. .))))
(ROOT (NP (JJ Many)(PP (IN of)(NP (DT the)(NNS letters))))(S (VP (VBP maintain)(SBAR (IN that)(S (S (S (S (S (S (NP (NN investor)(NN confidence))(VP (VBZ has)(VP (VBN been)(VP (RB so)(VP (VBN shaken)(PP (IN by)(NP (DT the)(NP (CD 1987)(NP (NN stock)(NP (NN market)(NN crash)))))))))))(: --))(CC and))(S (NP (DT the)(NNS markets))(S (RB already)(VP (RB so)(VP (VBN stacked)(PP (IN against)(NP (DT the)(NP (JJ little)(NN guy)))))))))(: --))(SBAR (IN that)(S (NP (NP (DT any)(NN decrease))(PP (IN in)(NP (NN information)(PP (IN on)(NP (NN insider-trading)(NNS patterns))))))(VP (MD might)(VP (VB prompt)(S (NNS individuals)(VP (TO to)(VP (VP (VB get)(ADVP (RB out)(PP (IN of)(NNS stocks))))(RB altogether)))))))))))(. .)))
(ROOT (`` ``)(SINV (S (NP (DT The)(NNP SEC))(VP (VP (VBZ has)(RB historically))(VP (VP (VBN paid)(NN obeisance))(PP (TO to)(NP (NP (DT the)(NN ideal))(PP (IN of)(NP (DT a)(NP (JJ level)(NP (NN playing)(NN field))))))))))(SINV (, ,)(SINV ('' '')(SINV (SINV (SINV (VBD wrote)(NP (NP (NNP Clyde)(NP (NNP S.)(NNP McGregor)))(PP (IN of)(NP (NP (NP (NNP Winnetka)(, ,))(NNP Ill.))(, ,)))))(PP (IN in)(NP (CD one)(PP (IN of)(NP (NP (DT the)(NP (CD 92)(NNS letters)))(SBAR (NP (DT the)(NN agency))(VP (VBZ has)(VP (VBN received)(SBAR (IN since)(S (NP (DT the)(NNS changes))(VP (VBD were)(VP (VBN proposed)(NP (NNP Aug.)(CD 17))))))))))))))(. .))))))
(ROOT (`` ``)(S (RB Apparently)(S (NP (DT the)(NN commission))(S (S (VP (VP (VP (VBD did)(RB not))(RB really))(VP (VB believe)(PP (IN in)(NP (DT this)(NN ideal)))))(. .))('' '')))))
(ROOT (RB Currently)(S (, ,)(S (NP (DT the)(NNS rules))(S (VP (VBP force)(S (NP (NP (NP (NP (NNS executives)(, ,))(NNS directors))(CC and))(NP (JJ other)(NP (JJ corporate)(NNS insiders))))(VP (TO to)(VP (VP (VB report)(NP (NP (NP (NNS purchases)(CC and))(NNS sales))(PP (IN of)(NP (NP (PRP$ their)(NP (NNS companies)(POS ')))(NNS shares)))))(PP (IN within)(NP (NP (QP (IN about)(DT a))(NN month))(PP (IN after)(NP (DT the)(NN transaction)))))))))(. .)))))
(ROOT (CC But)(S (NP (NP (QP (IN about)(CD 25))(NN %))(PP (IN of)(NP (DT the)(NNS insiders))))(S (, ,)(S (PP (VBG according)(PP (TO to)(NP (NNP SEC)(NNS figures))))(S (, ,)(S (VP (VP (VBP file)(NP (PRP$ their)(NNS reports)))(RB late))(. .)))))))
(ROOT (S (NP (DT The)(NNS changes))(VP (VBD were)(VP (VBN proposed)(PP (IN in)(NP (DT an)(NP (NN effort)(S (TO to)(VP (VP (VP (VB streamline)(NP (JJ federal)(NN bureaucracy)))(CC and))(VP (VB boost)(NP (NN compliance)(PP (IN by)(NP (NP (NP (DT the)(NNS executives))(`` ``))(SBAR (WP who)(S (VP (VBP are)(RB really))(VP (VBG calling)(NP (DT the)(NNS shots)))))))))))))))))(SINV (, ,)(SINV ('' '')(SINV (SINV (VBD said)(NP (NP (NP (NNP Brian)(NNP Lane))(, ,))(NP (NP (JJ special)(NN counsel))(PP (IN at)(NP (NP (NP (NP (NP (DT the)(NP (NNP SEC)(POS 's)))(NN office))(PP (IN of)(NP (NN disclosure)(NN policy))))(, ,))(SBAR (WDT which)(S (VBD proposed)(NP (DT the)(NNS changes)))))))))(. .)))))
(ROOT (S (S (S (S (NP (NP (NP (NP (NNS Investors)(, ,))(NP (NN money)(NNS managers)))(CC and))(NP (JJ corporate)(NNS officials)))(VP (VP (VBD had)(PP (IN until)(NN today)))(S (TO to)(VP (VB comment)(PP (IN on)(NP (DT the)(NNS proposals)))))))(, ,))(CC and))(S (NP (DT the)(NN issue))(VP (VBZ has)(VP (VBN produced)(NP (NP (JJR more)(NN mail))(PP (IN than)(NP (NP (ADJP (RB almost)(DT any))(NP (JJ other)(NN issue)))(PP (IN in)(NN memory)))))))))(S (, ,)(S (NP (NNP Mr.)(NNP Lane))(S (VBD said)(. .)))))
