(ROOT (NP (JJ French)(NP (NN consumer)(NNS prices)))(S (VP (VP (VP (VP (VP (VP (VP (VBD rose)(NP (CD 0.2)(NN %)))(PP (IN in)(NNP September)))(PP (IN from)(NP (DT the)(NP (JJ previous)(NN month)))))(CC and))(VP (VBD were)(ADVP (ADVP (RB up)(NP (CD 3.4)(NN %)))(PP (IN from)(ADVP (NP (DT a)(NN year))(RB earlier))))))(, ,))(PP (VBG according)(PP (TO to)(NP (NP (JJ definitive)(NNS figures))(PP (IN from)(NP (DT the)(NP (NNP National)(NP (NNPS Statistics)(NNP Institute)))))))))(. .)))
(ROOT (NP (NP (DT The)(NP (NN state)(NP (NN agency)(POS 's))))(NNS figures))(S (VP (VP (VP (VBP confirm)(NP (JJ previous)(NNS estimates)))(CC and))(VP (VP (VP (VP (VBP leave)(NP (DT the)(NN index)))(PP (IN at)(CD 178.9)))(, ,))(ADVP (RB up)(PP (IN from)(NP (NP (NP (CD 178.5)(PP (IN in)(NNP August)))(CC and))(NP (CD 173.1)(ADVP (NP (DT a)(NN year))(RB earlier))))))))(. .)))
