(ROOT (NP (JJ French)(NP (NN consumer)(NNS prices)))(S (VP (VP (VP (VP (VP (VP (VP (VBD rose)(NP (CD 0.2)(NN %)))(PP (IN in)(NNP September)))(PP (IN from)(NP (DT the)(NP (JJ previous)(NN month)))))(CC and))(VP (VBD were)(ADVP (ADVP (RB up)(NP (CD 3.4)(NN %)))(PP (IN from)(ADVP (NP (DT a)(NN year))(RB earlier))))))(, ,))(PP (VBG according)(PP (TO to)(NP (NP (JJ definitive)(NNS figures))(PP (IN from)(NP (DT the)(NP (NNP National)(NP (NNPS Statistics)(NNP Institute)))))))))(. .)))
(ROOT (NP (NP (DT The)(NP (NN state)(NP (NN agency)(POS 's))))(NNS figures))(S (VP (VP (VP (VBP confirm)(NP (JJ previous)(NNS estimates)))(CC and))(VP (VP (VP (VP (VBP leave)(NP (DT the)(NN index)))(PP (IN at)(CD 178.9)))(, ,))(ADVP (RB up)(PP (IN from)(NP (NP (NP (CD 178.5)(PP (IN in)(NNP August)))(CC and))(NP (CD 173.1)(ADVP (NP (DT a)(NN year))(RB earlier))))))))(. .)))
(ROOT (NP (DT The)(NN index))(S (VP (VBZ is)(VP (VBN based)(PP (IN on)(S (CD 1980)(VP (VBG equaling)(CD 100))))))(. .)))
(ROOT (NP (DT A)(NN breakdown))(S (VP (VBD showed)(SBAR (IN that)(S (NP (NN food)(NNS prices))(S (VP (VBD were)(NP (NP (DT the)(NP (ADJP (RBS most)(JJ active))(NN part)))(PP (IN of)(NN growth))))(PP (IN with)(NP (NP (DT a)(NN rise))(PP (IN of)(NP (CD 0.6)(NN %)))))))))(. .)))
(ROOT (NP (DT An)(NN official))(S (VP (VP (VBD linked)(NP (DT the)(NN gain)))(PP (RB essentially)(PP (TO to)(NP (NP (JJR higher)(NNS prices))(PP (IN for)(NP (NP (NN beef)(CC and))(NN pork)))))))(. .)))
(ROOT (PRP He)(S (VP (VBD said)(SBAR (NP (NP (NN summer)(NP (NN drought)(NNS problems)))(SBAR (WDT that)(S (VBD had)(VP (VBN hit)(NP (JJ several)(NP (JJ southern)(NP (JJ agricultural)(NNS regions))))))))(VP (VBD had)(VP (VP (VBN stopped)(S (VBG being)(NP (NP (DT a)(NP (JJ major)(NN source)))(PP (IN of)(NP (NN price)(NN pressure))))))(PP (IN in)(NNP September))))))(. .)))
(ROOT (S (NP (NP (NP (NNP Japan)(POS 's))(NN index))(PP (IN of)(NP (VBG leading)(NNS indicators))))(VP (VP (VP (VP (VP (VBD rose)(PP (TO to)(CD 63.6)))(PP (IN in)(NNP August)))(, ,))(PP (IN above)(NP (NP (DT the)(NP (JJ so-called)(NP (JJ boom-or-bust)(NN line))))(PP (IN of)(CD 50)))))(PP (IN for)(NP (NP (DT the)(NP (JJ first)(NN time)))(PP (IN since)(NNP May))))))(S (, ,)(S (NP (DT the)(NP (NNP Economic)(NP (NNP Planning)(NNP Agency))))(S (VBD said)(. .)))))
(ROOT (NP (DT The)(NP (VBG leading)(NN index)))(S (VP (VP (VP (VBD recovered)(PP (IN from)(NP (NP (NP (NNP July)(POS 's))(NP (JJ revised)(NN level)))(PP (IN of)(CD 36.6)))))(PP (IN on)(NP (NP (JJ strong)(NNS performances))(PP (IN in)(NP (NP (NP (NP (NP (NP (NN consumer)(NNS durables))(CC and))(NP (NN machinery)(NNS orders)))(, ,))(PP (IN among)(NP (JJ other)(NNS factors))))(, ,))))))(PP (VBG according)(PP (TO to)(NP (DT an)(NP (NN agency)(NN spokeswoman))))))(. .)))
(ROOT (NP (DT The)(NN index))(S (VP (VBZ is)(VP (VBN intended)(S (TO to)(VP (VB measure)(NP (JJ future)(NP (JJ economic)(NN performance)))))))(. .)))
(ROOT (S (S (S (NP (NP (DT A)(NN figure))(PP (IN above)(CD 50)))(VP (VBZ indicates)(SBAR (NP (DT the)(NN economy))(VP (VBZ is)(ADJP (JJ likely)(S (TO to)(VB expand)))))))(: ;))(S (NP (CD one)(PP (IN below)(CD 50)))(VP (VBZ indicates)(SBAR (NP (DT a)(NN contraction))(VP (MD may)(VP (VB be)(RB ahead)))))))(. .))
(ROOT (NP (NNP Metromedia)(NNP Co.))(S (VP (VBD said)(SBAR (NP (PRP$ its)(NP (NNP Metromedia)(NP (NNP Long)(NP (NNP Distance)(NN unit)))))(VP (VBZ has)(VP (VBN been)(VP (VP (VP (VBN renamed)(S (NNP Metromedia-ITT)(NP (NNP Long)(NNP Distance))))(, ,))(S (VBG reflecting)(NP (NNS acquisitions)(PP (IN from)(NP (NP (NP (NNP ITT)(NNP Corp.))(, ,))(SBAR (WDT which)(S (VP (VBZ licenses)(NP (PRP$ its)(NN name)))(PP (TO to)(NP (ADJP (RB closely)(JJ held))(NNP Metromedia))))))))))))))(. .)))
(ROOT (NNP Metromedia)(S (VP (VBD said)(SBAR (NP (PRP$ its)(NN unit))(VP (VP (VP (VBZ is)(NP (NP (NP (DT the)(NP (JJ fifth-largest)(NN provider)))(PP (IN of)(NP (NN long-distance)(NP (NNS communications)(NN service)))))(PP (IN in)(NP (DT the)(NNP U.S.)))))(, ,))(PP (IN with)(NP (NP (VBN projected)(NP (CD 1989)(NN revenue)))(PP (IN of)(NP (JJR more)(QP (IN than)(QP (QP ($ $)(CD 550))(CD million))))))))))(. .)))
(ROOT (NP (NP (NP (NNP Metromedia)(, ,))(VP (VBN headed)(PP (IN by)(NP (NNP John)(NP (NNP W.)(NNP Kluge))))))(, ,))(S (VP (VBZ has)(NP (NNS interests)(PP (IN in)(NP (NP (NP (NP (NP (NP (NP (NP (NN telecommunications)(, ,))(NP (JJ robotic)(NN painting)))(, ,))(NP (NN computer)(NN software)))(, ,))(NNS restaurants))(CC and))(NN entertainment)))))(. .)))
(ROOT (NP (JJ South)(NP (JJ Korean)(NP (NN consumer)(NNS prices))))(S (VP (VP (VP (VP (VP (VP (VBD rose)(NP (CD 5)(NN %)))(PP (IN in)(NP (NP (DT the)(NP (JJ first)(NP (CD 10)(NNS months))))(PP (IN of)(NP (DT this)(NN year))))))(, ,))(S (VBG matching)(NP (NP (NP (DT the)(NP (NN government)(POS 's)))(NN target))(PP (IN for)(NP (DT the)(NP (JJ entire)(NN year)))))))(, ,))(PP (VBG according)(PP (TO to)(NP (NP (NP (NP (DT the)(NNP Bank))(PP (IN of)(NNP Korea)))(CC and))(NP (DT the)(NP (NNP Economic)(NP (NNP Planning)(NNP Board))))))))(. .)))
(ROOT (PP (VBG According)(PP (TO to)(NP (NNS reports)(VP (VBN released)(PP (IN by)(NP (DT the)(NP (CD two)(NP (NN government)(NNS agencies)))))))))(S (, ,)(S (NP (JJ domestic)(NP (UCP (NN consumer)(UCP (CC and)(JJ wholesale)))(NNS prices)))(S (DT each)(S (VP (VP (VP (VBD rose)(PP (IN by)(NP (CD 0.2)(NN %))))(PP (IN in)(NNP October)))(PP (IN from)(NP (DT the)(NP (JJ previous)(NN month)))))(. .))))))
(ROOT (PP (IN As)(NP (DT a)(NN result)))(S (, ,)(S (S (S (S (NP (NP (NN consumer)(NNS prices))(PP (IN for)(NP (NP (DT the)(NP (JJ first)(NP (CD 10)(NNS months))))(PP (IN of)(CD 1989)))))(VP (VBD surged)(PP (IN by)(NP (CD 5)(NN %)))))(CC and))(S (NP (JJ wholesale)(NNS prices))(PP (IN by)(NP (CD 1.3)(NN %)))))(. .))))
(ROOT (NP (DT The)(NP (JJ South)(NP (JJ Korean)(NN government))))(S (VP (VBD had)(VP (VBN been)(VP (VBG projecting)(NP (NP (DT a)(NP (ADJP (CD 5)(NN %))(NP (NN consumer)(NP (NN price)(NN increase)))))(PP (IN for)(NP (DT the)(NP (JJ entire)(NN year))))))))(. .)))
(ROOT (NP (NNP Martin)(NP (NNP Marietta)(NNP Corp.)))(S (VP (VBD said)(SBAR (PRP it)(VP (VP (VP (VBD won)(NP (DT a)(NP (ADJP (QP ($ $)(CD 38.2))(CD million))(NN contract))))(PP (IN from)(NP (DT the)(NP (NNP U.S.)(NP (NNP Postal)(NNP Service))))))(SBAR (TO to)(VP (VP (VP (VB manufacture)(CC and))(VB install))(NP (JJ automated)(NP (VBG mail-sorting)(NNS machines))))))))(. .)))
(ROOT (PP (IN Under)(NP (NNS terms)(PP (IN of)(NP (DT the)(NP (JJ three-year)(NN contract))))))(S (, ,)(S (NP (NNP Martin)(NNP Marietta))(S (VP (VBD said)(SBAR (PRP it)(VP (MD will)(VP (VP (VP (VB make)(CC and))(VB install))(NP (CD 267)(PP (IN of)(NP (NP (DT the)(NP (JJ new)(NNS machines)))(PP (IN at)(NP (CD 156)(NP (JJ postal)(NNS offices)))))))))))(. .)))))
(ROOT (NP (DT The)(NP (JJ new)(NNS machines)))(S (VP (VBP are)(ADJP (JJ capable)(PP (IN of)(S (VP (VBG sorting)(PP (IN by)(NP (NN zip)(NN code))))(NP (NP (NP (NP (NP (QP (QP (IN up)(TO to))(CD 10,000))(NP (JJ large)(NP (JJ flat)(NP (NN mail)(NNS pieces)))))(, ,))(PP (VBG including)(NP (NP (NNS magazines)(CC and))(NNS parcels))))(, ,))(NP (DT an)(NN hour)))))))(. .)))
(ROOT (NP (NP (NP (NP (NP (NP (NNP Thomas)(NP (NN A.)(NNP Donovan)))(, ,))(ADJP (NP (CD 37)(NNS years))(JJ old)))(, ,))(NP (NP (NP (NP (NP (RB formerly)(NP (NN vice)(NN president)))(, ,))(NP (NNP West)(NP (NNP Coast)(NNS operations))))(, ,))(PP (IN at)(NP (DT this)(NP (NN hazardous-waste-site)(NP (NN remediation)(NN concern)))))))(, ,))(S (VP (VBD was)(VP (VBN named)(S (NP (NP (NP (NP (NP (NP (NP (NN executive)(NP (NN vice)(NN president)))(CC and))(NP (JJ chief)(NP (VBG operating)(NN officer))))(, ,))(NP (DT both)(NP (ADJP (RB newly)(VBN created))(NNS posts))))(, ,))(CC and))(NP (NP (DT a)(NN director))(PRN (, ,)(S (VBG filling)(NP (DT a)(NN vacancy))))))))(. .)))
(ROOT (NNP Canonie)(S (VP (VBD said)(SBAR (PRP it)(VP (VBZ anticipates)(S (VBG naming)(S (NP (NNP Mr.)(NNP Donovan))(VP (TO to)(VP (VP (VP (VP (VB succeed)(NP (NP (NP (NP (NNP Richard)(NP (NNP F.)(NNP Brissette)))(, ,))(CD 55))(, ,)))(PP (IN as)(NP (NP (NN president)(CC and))(NP (JJ chief)(NP (NN executive)(NN officer))))))(, ,))(ADJP (JJ effective)(NP (NNP March)(CD 1))))))))))(. .)))
(ROOT (NP (NNP Mr.)(NNP Brissette))(S (VP (VP (VP (MD will)(VP (VB remain)(NP (DT a)(NP (NNP Canonie)(NP (NN board)(NN member))))))(CC and))(VP (MD will)(VP (VB be)(NP (NP (DT a)(NN consultant))(PP (TO to)(NP (DT the)(NN company)))))))(. .)))
(ROOT (NP (NNS Yields)(PP (IN on)(NP (NP (JJ savings-type)(NNS certificates))(PP (IN of)(NN deposit)))))(S (VP (VP (VBD dropped)(RB slightly))(PP (IN in)(NP (NP (DT the)(NN week))(VP (VBN ended)(NN yesterday)))))(. .)))
(ROOT (NP (NP (DT The)(NP (JJ average)(NN yield)))(PP (IN on)(NP (NP (DT a)(NP (JJ six-month)(NN CD)))(PP (IN of)(NP (NP ($ $)(CD 50,000))(QP (CC or)(JJR less)))))))(S (VP (VP (VP (VBD was)(NP (CD 7.90)(NN %)))(, ,))(PP (VBN compared)(PP (IN with)(NP (NP (CD 7.94)(NN %))(ADVP (NP (DT a)(NN week))(RB earlier))))))(. .)))
(ROOT (NP (DT The)(NP (JJ average)(NP (JJ one-year)(NP (JJ savings-type)(NN CD)))))(S (VP (VP (VP (VBD was)(ADVP (ADVP (RB down)(PP (TO to)(NP (CD 7.99)(NN %))))(PP (IN from)(NP (CD 8.01)(NN %)))))(, ,))(PP (VBG according)(PP (TO to)(NP (NP (NP (NNP Banxquote)(NP (NNP Money)(NNP Markets)))(, ,))(NP (NP (DT a)(NP (NNP New)(NP (NNP York)(NP (NN information)(NN service)))))(SBAR (WDT that)(S (VBZ tracks)(NP (NN CD)(NNS yields)))))))))(. .)))
(ROOT (`` ``)(SINV (S (NP (DT This)(NN week))(VP (VP (VBD was)(JJ uneventful))(PP (IN for)(NP (DT the)(NP (NN CD)(NN market))))))(SINV (, ,)(SINV ('' '')(SINV (SINV (VBD said)(NP (NP (NP (NNP Norberto)(NNP Mehl))(, ,))(NP (NN chairman)(PP (IN of)(NNP Banxquote)))))(. .))))))
(ROOT (`` ``)(S (NP (DT The)(NP (JJ major)(NNS banks)))(S (VP (VP (VP (VBP have)(RB n't))(RB even))(VP (VBN reacted)(PP (TO to)(NP (NP (NP (NP (JJ sharp)(NNS rises))(PP (IN in)(NP (DT the)(NP (JJ three-month)(NP (NNP Treasury)(NP (NN bill)(NNS rates)))))))('' ''))(PP (IN in)(NP (DT the)(NP (JJ past)(NP (CD two)(NNS weeks)))))))))(. .))))
(ROOT (S (NP (NNS Banks)(SBAR (WDT that)(S (VP (VBD adjusted)(NP (NNS payouts)(PP (IN on)(NNS CDs))))(PP (IN in)(NP (DT the)(NP (ADJP (RBS most)(JJ recent))(NN week)))))))(VP (VBD made)(NP (RB only)(NP (JJ fractional)(NNS moves)))))(S (, ,)(S (PRP he)(S (VBD said)(. .)))))
(ROOT (NP (DT The)(NP (NN CD)(NN trend)))(S (VP (VBZ runs)(S (RB counter)(PP (TO to)(NP (NP (NP (DT the)(NN direction))(PP (IN of)(NP (JJ short-term)(NP (NN interest)(NNS rates)))))(PP (IN at)(NP (NP (DT the)(NP (NNP Treasury)(NP (NN bill)(NN auction))))(NNP Monday)))))))(. .)))
(ROOT (NP (DT The)(NP (JJ average)(NP (JJ six-month)(NN bill))))(S (VP (VBD was)(VP (VBN sold)(PP (IN with)(NP (NP (DT a)(NN yield))(PP (IN of)(NP (NP (NP (CD 8.04)(NN %))(, ,))(ADVP (RB up)(PP (IN from)(NP (CD 7.90)(NN %))))))))))(. .)))
(ROOT (NP (DT The)(NP (JJ average)(NP (JJ three-month)(NN issue))))(S (VP (VP (VBD rose)(PP (TO to)(NP (CD 8.05)(NN %))))(PP (IN from)(NP (CD 7.77)(NN %))))(. .)))
(ROOT (S (S (S (RB Typically)(S (, ,)(S (NNS banks)(VP (VBP offer)(NP (NP (NN CD)(NNS yields))(ADJP (JJR higher)(PP (IN than)(NP (DT those)(PP (IN on)(NP (NP (NP (NNP Treasury)(NNS bills))(, ,))(SBAR (WDT which)(S (VBP are)(VP (VBN considered)(S (DT the)(NP (JJS safest)(NP (JJ short-term)(NNS investments)))))))))))))))))(: ;))(S (NNS banks)(VP (VP (VBP need)(NP (DT a)(NP (JJ competitive)(NN edge))))(S (TO to)(VP (VB sell)(NP (PRP$ their)(NNS products)))))))(. .))
(ROOT (CC But)(S (SBAR (WRB when)(S (NP (NN market)(NP (NN interest)(NNS rates)))(VP (VP (VBP move)(RB up))(RB rapidly))))(S (, ,)(S (NP (NNS increases)(PP (IN in)(NP (NN bank)(NP (NN CD)(NNS yields)))))(S (RB sometimes)(S (VBP lag)(. .)))))))
(ROOT (NP (NP (JJS Most)(NNS yields))(PP (IN on)(NP (NP (NP (JJ short-term)(NP (JJ jumbo)(NNS CDs)))(, ,))(NP (DT those)(PP (IN with)(NP (NNS denominations)(PP (IN over)(NP ($ $)(CD 90,000)))))))))(S (, ,)(S (RB also)(S (VP (VBN moved)(PP (IN in)(NP (NP (DT the)(NP (JJ opposite)(NN direction)))(PP (IN of)(NP (NNP Treasury)(NP (NN bill)(NNS yields)))))))(. .)))))
(ROOT (S (NP (NP (DT The)(NP (JJ average)(NP (JJ six-month)(NN yield))))(PP (IN on)(NP (DT a)(NP (JJ jumbo)(NN CD)))))(VP (VP (VP (VP (VBD was)(PP (IN at)(NP (CD 7.90)(NN %))))(, ,))(ADVP (RB down)(PP (IN from)(NP (CD 7.93)(NN %)))))(, ,)))(S (NNP Banxquote)(S (VBD said)(. .))))
(ROOT (PP (IN For)(NP (JJR longer-term)(NNS CDs)))(S (, ,)(S (NNS yields)(S (VP (VBD were)(RP up))(. .)))))
(ROOT (NP (DT The)(NP (JJ average)(NP (ADJP (ADJP (JJ two-year)(CC and))(JJ five-year))(NNS jumbos))))(S (VP (VP (VBD were)(ADVP (RB up)(NP (CD 0.02)(PP (IN of)(NP (DT a)(NP (NN percentage)(NN point)))))))(PP (TO to)(NP (NP (NP (NP (NP (CD 7.91)(NN %))(CC and))(NP (CD 7.96)(NN %)))(, ,))(RB respectively))))(. .)))
(ROOT (RB However)(S (, ,)(S (NP (NNS CDs)(VP (VBD sold)(PP (IN through)(NP (JJ major)(NP (JJ broker-dealer)(NNS networks))))))(S (VP (VP (VP (VBD were)(RP up))(RB slightly))(PP (RB almost)(PP (IN across)(NP (DT the)(NN board)))))(. .)))))
(ROOT (NP (NP (DT The)(NP (JJ average)(NP (JJ six-month)(NN CD))))(PP (IN in)(NP (DT that)(NN category))))(S (VP (VP (VP (VP (VBD added)(NP (CD 0.05)(NP (NN percentage)(NN point))))(PP (TO to)(NP (CD 8.35)(NN %))))(, ,))(PP (IN for)(NN example)))(. .)))
(ROOT (NP (NNP Mr.)(NNP Mehl))(S (VP (VP (VBD attributed)(NP (DT the)(NN rise)))(PP (RB specifically)(PP (TO to)(NP (DT the)(NP (NNP Treasury)(NP (NN bill)(NN increase)))))))(. .)))
