(ROOT (PP (IN In)(NP (NP (NP (DT an)(NP (NNP Oct.)(NP (CD 19)(NN review))))(PP (IN of)(NP (`` ``)(NP (NP (NP (DT The)(NN Misanthrope))('' ''))(PP (IN at)(NP (NP (NNP Chicago)(POS 's))(NP (NNP Goodman)(NNP Theatre))))))))(PRN (PRN (PRN (PRN (PRN (PRN (-LRB- -LRB-)(`` ``))(S (NP (VBN Revitalized)(NNS Classics))(VP (VP (VBP Take)(NP (DT the)(NN Stage)))(PP (IN in)(NP (NNP Windy)(NNP City))))))(, ,))('' ''))(NP (NP (NN Leisure)(CC &))(NNS Arts)))(-RRB- -RRB-))))(S (, ,)(S (NP (NP (NP (NP (NP (DT the)(NN role))(PP (IN of)(NNP Celimene)))(, ,))(VP (VBN played)(PP (IN by)(NP (NNP Kim)(NNP Cattrall)))))(, ,))(S (VP (VBD was)(VP (RB mistakenly)(VP (VBN attributed)(PP (TO to)(NP (NNP Christina)(NNP Haag))))))(. .)))))
(ROOT (NP (NNP Ms.)(NNP Haag))(S (VP (VBZ plays)(NNP Elianti))(. .)))
(ROOT (NP (NNP Rolls-Royce)(NP (NNP Motor)(NP (NNPS Cars)(NNP Inc.))))(S (VP (VBD said)(SBAR (PRP it)(VP (VBZ expects)(S (NP (PRP$ its)(NP (NNP U.S.)(NNS sales)))(VP (TO to)(VP (VP (VP (VB remain)(JJ steady))(PP (IN at)(NP (QP (IN about)(CD 1,200))(NNS cars))))(PP (IN in)(CD 1990))))))))(. .)))
